.digit0 {
	background: url('/static/img/numbers.png') 0 0;
	width: 125px;
	height: 173px;
	display: inline-block;
}
.digit1 {
	background: url('/static/img/numbers.png') -125px 0;
	width: 88px;
	height: 173px;
	display: inline-block;
}
.digit2 {
	background: url('/static/img/numbers.png') -213px 0;
	width: 117px;
	height: 173px;
	display: inline-block;
}
.digit3 {
	background: url('/static/img/numbers.png') -330px 0;
	width: 121px;
	height: 173px;
	display: inline-block;
}
.digit4 {
	background: url('/static/img/numbers.png') -451px 0;
	width: 130px;
	height: 173px;
	display: inline-block;
}
.digit5 {
	background: url('/static/img/numbers.png') -581px 0;
	width: 120px;
	height: 173px;
	display: inline-block;
}
.digit6 {
	background: url('/static/img/numbers.png') -701px 0;
	width: 149px;
	height: 173px;
	display: inline-block;
}
.digit7 {
	background: url('/static/img/numbers.png') -850px 0;
	width: 107px;
	height: 173px;
	display: inline-block;
}
.digit8 {
	background: url('/static/img/numbers.png') -957px 0;
	width: 127px;
	height: 173px;
	display: inline-block;
}
.digit9 {
	background: url('/static/img/numbers.png') -1084px 0;
	width: 145px;
	height: 173px;
	display: inline-block;
}
