.active-number-wrapper .active-number.digit {
	background-repeat: no-repeat;
	height: auto;
	background-size: contain;
	display: inline-block;
}
.digit0 {
	background: url('/static/img/number_0.gif');
	//width: 125px;
}
.digit1 {
	background: url('/static/img/number_1.gif');
	//width: 88px;
}
.digit2 {
	background: url('/static/img/number_2.gif');
	//width: 117px;
}
.digit3 {
	background: url('/static/img/number_3.gif');
	//width: 121px;
}
.digit4 {
	background: url('/static/img/number_4.gif');
	//width: 130px;
}
.digit5 {
	background: url('/static/img/number_5.gif');
	//width: 120px;
}
.digit6 {
	background: url('/static/img/number_6.gif');
	//width: 123px;
}
.digit7 {
	background: url('/static/img/number_7.gif');
	//width: 107px;
}
.digit8 {
	background: url('/static/img/number_8.gif');
	//width: 127px;
}
.digit9 {
	background: url('/static/img/number_9.gif');
	//width: 123px;
}
